.titlebar {background: rgb(245, 245, 245) !important;}.titlebar button {
    color: #000 !important;}.titlebar button.btn-hover:hover {
    background-color: #ececec} body {
    background: #fff;
    color: #000}.themeable{background-color:undefined !important;color:#000!important}