.titlebar {background: #202020 !important;}.titlebar button {
    color: #fff !important;}.titlebar button.btn-hover:hover {
    background-color: #313131} body {
    background: #141414;
    color: #fff}.themeable{background-color:#202020 !important;color:#fff!important}